
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
<body>
    <!-- HEADER -->

    <header>
        <%- include('./partials/header') %>
    </header>  

    <main>
      <div class="container-fluid ">
        <div class="row categ-pad">     
          <!-- Left column with filters large size-->
          <section class="col-12 col-md-4 col-lg-3 col-xl-2 mt-1rem categ-left-section">   
            <form class="form-control p-3" action="/filterProduct" method="POST" enctype="form-data" id="formulario">  
              <div class="price-input">
                <div class="field price-mg d-flex">                             
                  <input name="precioMinimo" type="number" class="input-min" value="<%=locals.oldData  && locals.oldData[0].precioMinimo ? locals.oldData[0].precioMinimo : null%>" placeholder="Min">
                </div>                          
                <div class="field">                            
                  <input name="precioMaximo" type="number" class="input-max" value="<%= locals.oldData  && locals.oldData[0].precioMaximo ? locals.oldData[0].precioMaximo : null%>" placeholder="Max">
                </div>
              </div>
              <div class="slider">
                <div class="progress"></div>
              </div>
              <div class="range-input">
                <input type="range" class="range-min" min="0" max="30000" value="7500" step="100">
                <input type="range" class="range-max" min="0" max="30000" value="22500" step="100">
              </div> 

                <!-- CHECBOX TALLES -->  
                <h5 class="mt-3">Talle</h2>
                  <% for (const [atributo, filtros] of Object.entries(atributos)){ %>                               
                           
                    <hr style="margin-top: 1.75rem;">
                    <h5 class="filtro-subtitulo"><%= atributo.substring(0,1).toUpperCase()+ atributo.substring(1).toLowerCase() %></h5>
                    <% for (const [filtro, cantidad] of Object.entries(filtros)){ %> 
                      <% if (filtro != "null") { %>                    
                        <div class="form-check">
                            <input name="<%= atributo %>" class="form-check-input" type="checkbox" value="<%= filtro %>" id="flexCheckDefault"
                            <% if (locals.oldData) { %>
                              <% var oldFiltro2 = [] %>
                              <% for (const [oldAtributo, oldFiltros] of Object.entries(locals.oldData[0])){ %> 
                                <% oldFiltros != "" ? oldFiltro2.push(oldFiltros) : "" %>                    
                              <% } %>                   
                              <% oldFiltro2.forEach(element => {  %>
                                <%= element.includes(filtro) ? "checked" : null %>
                              <% }) %>                                       
                            <% } %>          
                            >
                            <label class="form-check-label" for="flexCheckDefault">
                                <%= filtro %> (<%= cantidad %>)
                            </label>
                        </div>           
                      <% } %>                                   
                    <% } %>
                <% } %>        

                <div class="mt-4 mb-4 d-flex justify-content-center">
                  <button class="cart-button" type="submit"> Aplicar filtos </button>
                </div>

              </form>
          </section>

          <!-- right column with category items -->
          <section class="col-12 col-md-8 col-lg-9 col-xl-10">
            <div class="row justify-content-center">
             <% for (const producto of productosCategoria) { %>
                <div class="col-12 col-md-3">
                    <a href="/detail/<%=producto.id%>" class="ancor">
                      <div class="card-body position-relative gris-claro mt-3 mb-2 zoom">
                          <div>
                              <img src="/images/ropa/<%=producto.imagen[0]%>" alt="" class="text-center ratio-square-recomendaciones p-4">
                              <a href="/detail/<%= producto.id %>" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-celeste w-100 text-center cat-txt">
                                Ver
                              </a>
                          </div>
                      </div>
                      <a href="/detail/<%= producto.id %>" class="">                
                        <span><%=producto.titulo%></span> 
                        <br>
                        <span class="bold">$<%=producto.precio%></span>              
                    </a>
                </div>              
             <% } %>           

            </div>
          </div>
          </section>
        </div>
      </div>      
    </main>
    
    <footer>
        <%- include('./partials/footer') %>
    </footer>    
       
    <script src="/js/priceRange.js"></script>

     <!-- BOOTSRAP ENDING LINE -->
    <script 
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
     crossorigin="anonymous">
    </script>
    <!-- FOOTER -->
</body>
</html>