
<div class="container-fluid separ-sect">
    <div class="row justify-content-center">


      <% for (const producto of productoUltimosRescates) { %>

        <div class="col-12 col-md-3">
            <a href="/detail/<%= producto.id %>" class="ancor">
              <div class="card-body position-relative gris-claro mt-3 mb-2 zoom">
                  <div>
                      <img src="images/ropa/<%= producto.imagen[0] %>" alt="" class="text-center ratio-square-recomendaciones p-4">
                      <a href="/detail" class="p-2 position-absolute bottom-0 start-50 translate-middle-x categ-celeste w-100 text-center cat-txt">
                        Ver
                      </a>
                  </div>
              </div>
              <a href="/detail/<%= producto.id %>" class="">                
                <span><%= producto.titulo %></span> 
                <br>
                <span class="bold">$<%= producto.precio %></span>              
            </a>
        </div>

        <% } %>
        
    </div>
</div>